<!DOCTYPE html> 

<html lang="en">
    <head>
        <title>FIFA Ranking</title>
    </head>
    <body>
        <div>
            <h1>FIFA World Ranking (Men's)</h1>
        </div>
        <div>
            <h2>Add a Country</h2>
            <form action="/" method="post">
                <input autocomplete="off" name="team" placeholder="Country" type="text">
                <input autocomplete="off" name="rating" placeholder="Rating" type="number" step="0.01">
                <input type="submit" value="Add Country">
            </form>
        </div>
        <div>
            <h2>Ranking</h2>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row.rank }}</td>
                            <td>{{ row.team }}</td>
                            <td>{{ row.rating }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>